:root{
  --userbar-width:100vw;
}

.userbar {
  position:relative;
  width: var(--userbar-width);
  height:100vh;
  display:flex;
  flex-direction: column;
  padding:1em;
  background-color:cornflowerblue;
  color:rgb(52, 60, 68);
  overflow: hidden;
  flex-shrink: 0;
}

.userbar__logo-with-menuhide {
  display:flex;
  flex-direction: row;
}

.userbar__logo {
  padding-bottom:1em;
}

.userbar__hello {
  padding-bottom:0.5em;
}

.userbar__form {
  flex-grow: 2;
  padding-bottom:1em;
  display:flex;
  flex-direction: column;
  height:auto;
}

.userbar__thought {
  flex-grow: 2;
  padding: 0.25em;
  border: none;
  resize: none;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  background-color: rgb(180, 198, 230);
}

.userbar__button {
  color:snow;
  background-color: rgb(48, 111, 228);
}

.userbar__button--publish {
  border-radius: 0px;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.userbar__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin:-0.25em;
}


.userbar__action {
  flex-basis:10%;
  flex-grow: 1;
  margin: 0.25em;
}

.userbar__resize--bar {
  display:none;
}


.userbar__menuhide {
  position:absolute;
  width:50px;
  height:50px;
  right:1em;
  top:1em;
  transition: transform 1s;
}

.userbar__menuhide-stripes {
  position: relative;
  content:"";
  background-color: white;
  height: 5px;
  width: 100%;
  border-radius: 2.5px;
}

.userbar__menuhide-stripes::before {
  all:inherit;
  content:"";
  position: absolute;
  top: -10px;
}
.userbar__menuhide-stripes::after {
  all:inherit;
  content:"";
  position: absolute;
  bottom: -10px;
}

.userbar--hide {
  display:none;
}

@media screen and (min-width: 600px) {
  :root{
    --userbar-width: 30vw;
  }

  
  .userbar__menuhide {
    position:absolute;
    width:50px;
    height:50px;
    left:1em;
    top:1em;
    transition: transform 0.15s;
  }
  .userbar__menuhide--follow-bar {
    transform: translateX(var(--userbar-width)) translateX(-100%) translateX(-2em);
  }

  .userbar--hide {
    height: 0px;
  }
  
  .userbar__form {
    display:flex;
    flex-direction: column;
  
  }
  

}


@media screen and (min-width: 769px) {
  :root{
    --userbar-width: 25vw;
  }
  .userbar__menuhide--follow-bar {
    transform: translateX(var(--userbar-width)) translateX(-100%) translateX(-2em);
  }
  
  .userbar__form {
    display:flex;
    flex-direction: column;
  
  }

  .userbar__resize--bar {
    display: block;
    background-color: steelblue;
    position: absolute;
    width: 5px;
    top: 0px;
    right: 0px;
    height:100%;
  }

  .userbar__resize--bar:hover {
    cursor:col-resize;
  }
  .userbar__resize--bar:active {
    cursor:col-resize;
  }
  

}